@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="page-wrapper">



        <!--header top-->
        <div class="header-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="top-left text-center text-md-left">
                            <h6>Opening Hours : Saturday to Tuesday - 8am to 10pm</h6>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="top-right text-center text-md-right">
                            <ul class="social-links">
                                <li>
                                    <a href="https://themefisher.com/" aria-label="facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://themefisher.com/" aria-label="twitter">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://themefisher.com/" aria-label="google-plus">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://themefisher.com/" aria-label="instagram">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://themefisher.com/" aria-label="pinterest">
                                        <i class="fab fa-pinterest-p"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header top-->
        <!--Header Upper-->
        <section class="header-uper">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-4 col-lg-3">
                        <div class="logo">
                            <a href="index.html">
                                <img loading="lazy" class="img-fluid" src="~/images/logo.png" alt="logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-9">
                        <marquee>MyHealth provides free confidential sexual health services to young people under 25</marquee>
                        <P>CORONAVIRUS: VIEW LATEST ADVISE AND SERVICE UPDATES</P>
                    </div>
                </div>
            </div>
        </section>
        <!--Header Upper-->
        <!--Main Header-->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarLinks">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link dropdown-toggle" href="#!" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>

                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item @@blog" href="blog.html">Appointment</a></li>
                                <li><a class="dropdown-item @@blogDetails" href="blog-details.html">Sign In</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown @@blogs">

                            <a class="nav-link dropdown-toggle" href="#!" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About MyHealthNet</a>

                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item @@blog" href="blog.html">Strategic Plan</a></li>
                                <li><a class="dropdown-item @@blogDetails" href="blog-details.html">Our Board</a></li>
                                <li><a class="dropdown-item @@blog" href="blog.html">Press / Median</a></li>
                                <li><a class="dropdown-item @@blogDetails" href="blog-details.html">Opportunities</a></li>
                                <li><a class="dropdown-item @@blogDetails" href="blog-details.html">Campaigns</a></li>
                                <li><a class="dropdown-item @@blog" href="blog.html">Press / Median</a></li>
                                <li><a class="dropdown-item @@blogDetails" href="blog-details.html">Partners and Recognition</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown @@blogs">

                            <a class="nav-link dropdown-toggle" href="#!" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>

                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item @@blog" href="blog.html">Sexual Health</a></li>
                                <li><a class="dropdown-item @@blogDetails" href="blog-details.html">STIs</a></li>
                                <li><a class="dropdown-item @@blog" href="blog.html">Appointment</a></li>
                                <li><a class="dropdown-item @@blogDetails" href="blog-details.html">Contraception</a></li>
                                <li><a class="dropdown-item @@blog" href="blog.html">Pregnancy</a></li>
                                <li><a class="dropdown-item @@blogDetails" href="blog-details.html">Psychosexual</a></li>
                                <li><a class="dropdown-item @@blog" href="blog.html">Contact Tracing</a></li>
                                <li><a class="dropdown-item @@blogDetails" href="blog-details.html">Help & Advice</a></li>
                                <li><a class="dropdown-item @@blogDetails" href="blog-details.html">Mock Clinic</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown @@blogs">

                            <a class="nav-link dropdown-toggle" href="#!" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ask the Expert</a>

                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item @@blog" href="blog.html">F.A.Q</a></li>
                                <li><a class="dropdown-item @@blog" href="blog-details.html">Health & Wellness</a></li>
                                <li><a class="dropdown-item @@blog" href="blog.html">Growing Up</a></li>
                                <li><a class="dropdown-item @@blogDetails" href="blog-details.html">Youth-Led Events</a></li>
                                <li><a class="dropdown-item @@blog" href="blog.html">Resources</a></li>
                                <li><a class="dropdown-item @@blogDetails" href="blog-details.html">Relationships</a></li>
                                <li><a class="dropdown-item @@blog" href="blog.html">Service Request</a></li>

                            </ul>
                        </li>
                        <li class="nav-item dropdown @@blogs">

                            <a class="nav-link dropdown-toggle" href="#!" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Event</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item @@blog" href="blog.html">Outreach Health</a></li>
                                <li><a class="dropdown-item @@blogDetails" href="blog-details.html">Health Workshop</a></li>
                                <li><a class="dropdown-item @@blog" href="blog.html">Hygiene Promotion</a></li>
                                <li><a class="dropdown-item @@blogDetails" href="blog-details.html">Competitions</a></li>
                                <li><a class="dropdown-item @@blog" href="blog.html">Outreach Health</a></li>
                                <li><a class="dropdown-item @@blogDetails" href="blog-details.html">Galleries Videos</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown @@blogs">

                            <a class="nav-link dropdown-toggle" href="#!" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Training</a>

                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item @@blog" href="blog.html">Seminars Workshop</a></li>
                                <li><a class="dropdown-item @@blogDetails" href="blog-details.html">Research Survey</a></li>
                                <li><a class="dropdown-item @@blog" href="blog.html">Skills Progress</a></li>
                                <li><a class="dropdown-item @@blogDetails" href="blog-details.html">Health Education</a></li>
                                
                            </ul>
                        </li>
                        <li class="nav-item dropdown @@blogs">
                            <a class="nav-link dropdown-toggle" href="#!" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Get Involve</a>

                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item @@blog" href="blog.html">Corporate Volunteering</a></li>
                                <li><a class="dropdown-item @@blogDetails" href="blog-details.html">Work Experience</a></li>
                                <li><a class="dropdown-item @@blog" href="blog.html">Fundraising</a></li>
                                <li><a class="dropdown-item @@blogDetails" href="blog-details.html">Open Days</a></li>
                                <li><a class="dropdown-item @@blogDetails" href="blog-details.html">Download Forms</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown @@blogs">
                            <a class="nav-link dropdown-toggle" href="#!" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Donate</a>

                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item @@blog" href="blog.html">Appointment</a></li>
                                <li><a class="dropdown-item @@blogDetails" href="blog-details.html">Sign In</a></li>

                            </ul>
                        </li>
                        <li class="nav-item dropdown @@blogs">
                            <a class="nav-link dropdown-toggle" href="#!" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>

                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item @@blog" href="blog.html">Appointment</a></li>
                                <li><a class="dropdown-item @@blogDetails" href="blog-details.html">Sign In</a></li>

                            </ul>
                        </li>


                        <li class="nav-item dropdown @@blogs">
                            <a class="nav-link dropdown-toggle" href="#!" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bookings</a>

                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item @@blog" href="blog.html">Appointment</a></li>
                                <li><a class="dropdown-item @@blogDetails" href="blog-details.html">Sign In</a></li>

                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <!--End Main Header -->
        <br />
        <div class="tabs mb-5">
            <ul class="nav nav-tabs justify-content-center" id="aboutTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="dormitory-tab" data-toggle="tab" href="#dormitory" role="tab" aria-controls="dormitory" aria-selected="true">Worried About Your Safety?</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="orthopedic-tab" data-toggle="tab" href="#orthopedic" role="tab" aria-controls="orthopedic" aria-selected="false">Pregnancy Test</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="sonogram-tab" data-toggle="tab" href="#sonogram" role="tab" aria-controls="sonogram" aria-selected="false">STI/Non STI Testing</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="x-ray-tab" data-toggle="tab" href="#x-ray" role="tab" aria-controls="x-ray" aria-selected="false">Contraception Advice</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="diagnostic-tab" data-toggle="tab" href="#diagnostic" role="tab" aria-controls="diagnostic" aria-selected="false">Breast Awareness</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="diagnostic-tab" data-toggle="tab" href="#diagnostic" role="tab" aria-controls="diagnostic" aria-selected="false">Covid-19 Health & Safety Image</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="diagnostic-tab" data-toggle="tab" href="#diagnostic" role="tab" aria-controls="diagnostic" aria-selected="false">confidential Service</a>
                </li>
            </ul>
        </div>









        <!--=================================
        =            Page Slider            =
        ==================================-->
        <div class="hero-slider">
            <!-- Slider Item -->
            <div class="slider-item slide1" style="        background-image: url(images/slider/slider-bg-1.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- Slide Content Start -->
                            <div class="content style text-center">
                                <h2 class="text-white text-bold mb-2" data-animation-in="slideInLeft">Our Best Surgeons</h2>
                                <p class="tag-text mb-4" data-animation-in="slideInRight">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel sunt animi sequi ratione quod at earum. <br> Quis quos officiis numquam!</p>
                                <a href="about.html" class="btn btn-main btn-white" data-animation-in="slideInLeft" data-duration-in="1.2">explore</a>
                            </div>
                            <!-- Slide Content End -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slider Item -->
            <div class="slider-item" style="background-image: url(images/slider/slider-bg-2.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- Slide Content Start-->
                            <div class="content style text-center">
                                <h2 class="text-white" data-animation-in="slideInRight">We Care About Your Health</h2>
                                <p class="tag-text mb-4" data-animation-in="slideInRight" data-duration-in="0.6">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                                <a href="about.html" class="btn btn-main btn-white" data-animation-in="slideInRight" data-duration-in="1.2">about us</a>
                            </div>
                            <!-- Slide Content End-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slider Item -->
            <div class="slider-item" style="        background-image: url(images/slider/slider-bg-3.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- Slide Content Start -->
                            <div class="content text-center style">
                                <h2 class="text-white text-bold mb-2" data-animation-in="slideInRight">Best Medical Services</h2>
                                <p class="tag-text mb-4" data-animation-in="slideInLeft">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae deserunt, <br>eius pariatur minus itaque nostrum.</p>
                                <a href="about.html" class="btn btn-main btn-white" data-animation-in="slideInRight" data-duration-in="1.2">shop now</a>
                            </div>
                            <!-- Slide Content End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--====  End of Page Slider  ====-->
        <!--<section class="cta">
          <div class="container">
            <div class="cta-block row no-gutters">
              <div class="col-lg-4 col-md-6 emmergency item">
                <i class="fa fa-phone"></i>
                <h2>Emegency Cases</h2>
                <a href="tel:1-800-700-6200">1-800-700-6200</a>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
              </div>
              <div class="col-lg-4 col-md-6 top-doctor item">
                <i class="fa fa-stethoscope"></i>
                <h2>24 Hour Service</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore dignissimos officia dicta suscipit
                  vel eum</p>
                <a href="service.html" class="btn btn-main">Read more</a>
              </div>
              <div class="col-lg-4 col-md-12 working-time item">
                <i class="fa fa-hourglass-o"></i>
                <h2>Working Hours</h2>
                <ul class="w-hours">
                  <li>Mon - Fri - <span>8:00 - 17:00</span></li>
                  <li>Mon - Fri - <span>8:00 - 17:00</span></li>
                  <li>Mon - Fri - <span>8:00 - 17:00</span></li>
                </ul>
              </div>
            </div>
          </div>
        </section>-->
        <div class="featured-categories_area">
            <div class="container-fluid">
                <div class="section-title_area">
                    <span>Top Featured Collections</span>
                    <h3>Featured Categories</h3>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="featured-categories_slider uren-slick-slider slider-navigation_style-1" data-slick-options='{
              "slidesToShow": 4,
              "spaceBetween": 30,
              "arrows" : true
             }' data-slick-responsive='[
                                   {"breakpoint":1599, "settings": {"slidesToShow": 3}},
                                   {"breakpoint":1200, "settings": {"slidesToShow": 2}},
                                   {"breakpoint":768, "settings": {"slidesToShow": 1}}
                               ]'>
                            <div class="slide-item">
                                <div class="slide-inner">

                                    <div class="slide-content_area">
                                        <h3>
                                            <a href="shop-left-sidebar.html">
                                                NHS COVID-19
                                                How Are You?
                                            </a>
                                        </h3>

                                        <ul class="product-item">
                                            <li>
                                                <a href="shop-left-sidebar.html"><i class="fa fa-arrow-right"></i> COVID-Updates</a>
                                            </li>
                                            <li>
                                                <a href="shop-left-sidebar.html"><i class="fa fa-arrow-right"></i> Wat you need to know</a>
                                            </li>
                                            <li>
                                                <a href="shop-left-sidebar.html"><i class="fa fa-arrow-right"></i> What you need to do</a>
                                            </li>
                                            <li>
                                                <a href="shop-left-sidebar.html">
                                                    <i class="fa fa-arrow-right"></i> COVID-19 &
                                                    Sexual Health
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-left-sidebar.html">
                                                    <i class="fa fa-arrow-right"></i> Vaccination
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="featured-categories_slider uren-slick-slider slider-navigation_style-1" data-slick-options='{
              "slidesToShow": 4,
              "spaceBetween": 30,
              "arrows" : true
             }' data-slick-responsive='[
                                   {"breakpoint":1599, "settings": {"slidesToShow": 3}},
                                   {"breakpoint":1200, "settings": {"slidesToShow": 2}},
                                   {"breakpoint":768, "settings": {"slidesToShow": 1}}
                               ]'>
                            <div class="slide-item">
                                <div class="slide-inner">

                                    <div class="slide-content_area">
                                        <h3><a href="shop-left-sidebar.html">Find A Services Link </a></h3>

                                        <ul class="product-item">
                                            <li>
                                                <a href="shop-left-sidebar.html"><i class="fa fa-arrow-right"></i> Remote Health</a>
                                            </li>
                                            <li>
                                                <a href="shop-left-sidebar.html">
                                                    <i class="fa fa-arrow-right"></i>Mental Health
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-left-sidebar.html"><i class="fa fa-arrow-right"></i> Domestic Abuse</a>
                                            </li>
                                            <li>
                                                <a href="shop-left-sidebar.html">
                                                    <i class="fa fa-arrow-right"></i> Help Us Help You

                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-left-sidebar.html">
                                                    <i class="fa fa-arrow-right"></i> Gender & Sexuality
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-left-sidebar.html">
                                                    <i class="fa fa-arrow-right"></i> Health & Wellbeing
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="featured-categories_slider uren-slick-slider slider-navigation_style-1" data-slick-options='{
              "slidesToShow": 4,
              "spaceBetween": 30,
              "arrows" : true
             }' data-slick-responsive='[
                                   {"breakpoint":1599, "settings": {"slidesToShow": 3}},
                                   {"breakpoint":1200, "settings": {"slidesToShow": 2}},
                                   {"breakpoint":768, "settings": {"slidesToShow": 1}}
                               ]'>
                            <div class="slide-item">
                                <div class="slide-inner">

                                    <div class="slide-content_area">
                                        <h3><a href="shop-left-sidebar.html">Young mums </a></h3>

                                        <ul class="product-item">
                                            <li>
                                                <a href="shop-left-sidebar.html"><i class="fa fa-arrow-right"></i> Abortions</a>
                                            </li>
                                            <li>
                                                <a href="shop-left-sidebar.html">
                                                    <i class="fa fa-arrow-right"></i>Mental Health
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-left-sidebar.html"><i class="fa fa-arrow-right"></i> Adoption</a>
                                            </li>
                                            <li>
                                                <a href="shop-left-sidebar.html">
                                                    <i class="fa fa-arrow-right"></i> My Body

                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-left-sidebar.html">
                                                    <i class="fa fa-arrow-right"></i> Online Safety

                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-left-sidebar.html">
                                                    <i class="fa fa-arrow-right"></i> Trafficking
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="featured-categories_slider uren-slick-slider slider-navigation_style-1" data-slick-options='{
              "slidesToShow": 4,
              "spaceBetween": 30,
              "arrows" : true
             }' data-slick-responsive='[
                                   {"breakpoint":1599, "settings": {"slidesToShow": 3}},
                                   {"breakpoint":1200, "settings": {"slidesToShow": 2}},
                                   {"breakpoint":768, "settings": {"slidesToShow": 1}}
                               ]'>
                            <div class="slide-item">
                                <div class="slide-inner">

                                    <div class="slide-content_area">
                                        <h3><a href="shop-left-sidebar.html">Ambassador </a></h3>

                                        <ul class="product-item">
                                            <li>
                                                <a href="shop-left-sidebar.html">
                                                    <i class="fa fa-arrow-right"></i> Volunteer events
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-left-sidebar.html">
                                                    <i class="fa fa-arrow-right"></i>Social Responsibility
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-left-sidebar.html">
                                                    <i class="fa fa-arrow-right"></i> Sponsor A Project
                                                </a>
                                            </li>

                                            <li>
                                                <a href="shop-left-sidebar.html">
                                                    <i class="fa fa-arrow-right"></i> Online Safety

                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-left-sidebar.html">
                                                    <i class="fa fa-arrow-right"></i> Trafficking
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


        <!--about section-->
        <!--End about section-->
        <!--Start about us area-->
        <!--End about us area-->
        <!--Service Section-->
        <section class="service-section bg-gray section">
            <div class="container">
                <div class="section-title text-center">
                    <h3>
                        Provided
                        <span>Services</span>
                    </h3>
                    <p>Our Services</p>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="items-container">
                            <div class="item">
                                <div class="inner-box">
                                    <div class="img_holder">
                                        <a href="service.html">
                                            <img loading="lazy" src="~/images/gallery/1.jpg" alt="images" class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="image-content text-center">
                                        <span>Better Service At Low Cost</span>
                                        <a href="service.html">
                                            <h6>
                                                Supporters &
                                                Partners
                                            </h6>
                                        </a>
                                        <p>Supporters.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="inner-box">
                                    <div class="img_holder">
                                        <a href="service.html">
                                            <img loading="lazy" src="~/images/gallery/2.jpg" alt="images" class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="image-content text-center">
                                        <span>Better Service At Low Cost</span>
                                        <a href="service.html">
                                            <h6>
                                                Donors &
                                                Sponsors
                                            </h6>
                                        </a>
                                        <p>Donors and Sponsor.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="inner-box">
                                    <div class="img_holder">
                                        <a href="service.html">
                                            <img loading="lazy" src="~/images/gallery/3.jpg" alt="images" class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="image-content text-center">
                                        <span>Better Service At Low Cost</span>
                                        <a href="service.html">
                                            <h6>
                                                Partners &
                                                Recognition
                                            </h6>
                                        </a>
                                        <p>Partners</p>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Service Section-->
        <!--team section-->
        <!--End team section-->
        <!--testimonial-section-->
        <!--End testimonial-section-->
        <!-- Contact Section -->
        <!-- End Contact Section -->
        <!--footer-main-->
        <footer class="footer-main">
            <div class="footer-top">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-lg-4 mb-5 mb-lg-0">
                            <div class="about-widget">
                                <div class="footer-logo">
                                    <figure>
                                        <a href="index.html">
                                            <img loading="lazy" class="img-fluid" src="~/images/logo.png" alt="medic">
                                        </a>
                                    </figure>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, temporibus?</p>
                                <ul class="location-link">
                                    <li class="item">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <p>Modamba, NY 80021, United States</p>
                                    </li>
                                    <li class="item">
                                        <i class="far fa-envelope" aria-hidden="true"></i>
                                        <a href="mailto:support@medic.com">
                                            <p>support@medic.com</p>
                                        </a>
                                    </li>
                                    <li class="item">
                                        <i class="fas fa-phone" aria-hidden="true"></i>
                                        <p>(88017) +123 4567</p>
                                    </li>
                                </ul>
                                <ul class="list-inline social-icons">
                                    <li class="list-inline-item"><a href="https://facebook.com/themefisher" aria-label="facebook"><i class="fab fa-facebook-f"></i></a></li>
                                    <li class="list-inline-item"><a href="https://twitter.com/themefisher" aria-label="twitter"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="https://instagram.com/themefisher" aria-label="instagram"><i class="fab fa-instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="https://github.com/themefisher" aria-label="github"><i class="fab fa-github"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-5 mb-3 mb-md-0">
                            <h2>Services</h2>
                            <ul class="menu-link">
                                <li>
                                    <a href="service.html">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Donate Goods / Service
                                    </a>
                                </li>
                                <li>
                                    <a href="service.html">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Share Projects Ideas
                                    </a>
                                </li>
                                <li>
                                    <a href="service.html">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Our Partners
                                    </a>
                                </li>
                                <li>
                                    <a href="service.html">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Start a Campaign
                                    </a>
                                </li>
                                <li>
                                    <a href="service.html">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Internship
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-5 mb-3 mb-md-0">

                            <ul class="menu-link">
                                <li>
                                    <a href="service.html">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Give Feedback
                                    </a>
                                </li>
                                <li>
                                    <a href="service.html">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Corporate Volunteers
                                    </a>
                                </li>
                                <li>
                                    <a href="service.html">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Collaborators & Partners
                                    </a>
                                </li>
                                <li>
                                    <a href="service.html">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Social Work Life Skills Placements
                                    </a>
                                </li>
                                <li>
                                    <a href="service.html">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Remove user Block / unblock user
                                    </a>
                                </li>
                                <li>
                                    <a href="service.html">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Health Drama Club
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container clearfix">
                    <div class="copyright-text">
                        <p>&copy; Copyright 2021. Designed &amp; Developed by <a href="https://">Fortunetech</a></p>
                    </div>
                    <ul class="footer-bottom-link">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="about.html">About</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        <!--End footer-main-->
        <!-- scroll-to-top -->
        <div id="back-to-top" class="back-to-top">
            <i class="fa fa-angle-up"></i>
        </div>

    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target=".header-top">
        <span class="icon fa fa-angle-up"></span>
    </div>


    <!-- jquery -->


</body>
